{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLX</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/image.png' %}" alt="">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">{% if LANGUAGE_CODE == "uz" %}Chat{% else %}Чат{% endif %}</a></li>
                    <li>
                        {% if LANGUAGE_CODE == "uz" %}
                            <a href="{% url 'set_language' 'ru' %}">Рус</a>
                        {% else %}
                            <a href="{% url 'set_language' 'uz' %}">O‘zbek</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}"><i class='bx bxs-user'></i>
                            {% if LANGUAGE_CODE == "uz" %}Hisobingiz{% else %}Ваш аккаунт{% endif %}
                        </a>
                        {% else %}
                        <a href="{% url 'login' %}"><i class='bx bxs-user'></i>
                            {% if LANGUAGE_CODE == "uz" %}Hisobingiz{% else %}Ваш аккаунт{% endif %}
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'advertisement' %}"><button class="btn">
                            {% if LANGUAGE_CODE == "uz" %}E'lon berish{% else %}Подать объявление{% endif %}
                        </button></a>
                        {% else %}
                        <a href="{% url 'login' %}"><button class="btn">
                            {% if LANGUAGE_CODE == "uz" %}E'lon berish{% else %}Подать объявление{% endif %}
                        </button></a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <form action="{% url 'advertisement_search' %}" class="search-bar" method="get">
            <input type="text" name="q" placeholder="{% if LANGUAGE_CODE == "uz" %}Nimani qidiryapsiz?{% else %}Что вы ищете?{% endif %}">
            <button type="submit" class="search-btn">
                {% if LANGUAGE_CODE == "uz" %}Qidiruv{% else %}Поиск{% endif %}
            </button>
        </form>
        
        <section class="categories">
            <h2>{% if LANGUAGE_CODE == "uz" %}OLX xizmatidagi bo'limlar{% else %}Категории OLX{% endif %}</h2>
            <div class="category-list">
                <div class="category"><img src="{% static 'img/1.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Bolalar dunyosi{% else %}Детский мир{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/2.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Ko‘chmas mulk{% else %}Недвижимость{% endif %}
                </div>
                <a href="{% url 'advertisements' category_id=1 %}">
                    <div class="category"><img src="{% static 'img/3.png' %}" alt="">
                        {% if LANGUAGE_CODE == "uz" %}Transport{% else %}Транспорт{% endif %}
                    </div>
                </a>
                <div class="category"><img src="{% static 'img/4.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Ish{% else %}Работа{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/5.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Hayvonlar{% else %}Животные{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/6.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Uy va Bog‘{% else %}Дом и сад{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/7.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Elekt Jihozlari{% else %}Электроника{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/8.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Xizmatlar{% else %}Бизнес и услуги{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/9.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Moda va Stil{% else %}Мода и стиль{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/10.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Xobbi, dam olish, sport{% else %}Хобби, отдых и спорт{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/11.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Tekinga beraman{% else %}Отдам даром{% endif %}
                </div>
                <div class="category"><img src="{% static 'img/12.png' %}" alt="">
                    {% if LANGUAGE_CODE == "uz" %}Ayirboshlash{% else %}Обмен{% endif %}
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>{% if LANGUAGE_CODE == "uz" %}Kategoriyalar{% else %}Категории{% endif %}</h3>
                <ul>
                    <li><a href="#">{% if LANGUAGE_CODE == "uz" %}Avtomobillar{% else %}Автомобили{% endif %}</a></li>
                    <li><a href="#">{% if LANGUAGE_CODE == "uz" %}Ko‘chmas mulk{% else %}Недвижимость{% endif %}</a></li>
                    <li><a href="#">{% if LANGUAGE_CODE == "uz" %}Elektronika{% else %}Электроника{% endif %}</a></li>
                    <li><a href="#">{% if LANGUAGE_CODE == "uz" %}Xizmatlar{% else %}Услуги{% endif %}</a></li>
                    <li><a href="#">{% if LANGUAGE_CODE == "uz" %}Ish o‘rinlari{% else %}Вакансии{% endif %}</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 OLX.uz. 
                {% if LANGUAGE_CODE == "uz" %}Barcha huquqlar himoyalangan.{% else %}Все права защищены.{% endif %}
            </p>
        </div>
    </footer>
</body>
</html>
