<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Tasdiqlash</title>
</head>
<body>
    <!-- <h2>{{ email }} ga jo‘natilgan kodni kiriting</h2> -->
    <h2>Jo‘natilgan kodni kiriting</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ email }}">
        <input type="text" name="code" placeholder="Tasdiqlash kodi" required>
        <button type="submit">Tasdiqlash</button>
    </form>
</body>
</html>
